IO_LOC "CLK" 52;
IO_PORT "CLK" PULL_MODE=UP;
IO_LOC "IN[0]" 10;
IO_LOC "IN[1]" 11;
IO_LOC "IN[2]" 35;
IO_LOC "IN[3]" 13;
IO_LOC "IN[4]" 14;
IO_LOC "IN[5]" 15;
IO_LOC "IN[6]" 17;
IO_LOC "IN[7]" 18;
IO_LOC "IN[8]" 19;
IO_LOC "IN[9]" 20;
IO_LOC "IN[10]" 36;
IO_LOC "IN[11]" 37;
IO_LOC "OUT[0]" 38;
IO_LOC "OUT[1]" 39;
IO_LOC "OUT[2]" 25;
IO_LOC "OUT[3]" 26;
IO_LOC "OUT[4]" 27;
IO_LOC "OUT[5]" 28;
IO_LOC "OUT[6]" 29;
IO_LOC "OUT[7]" 30;
IO_LOC "OUT[8]" 31;
IO_LOC "OUT[9]" 32;
IO_LOC "OUT[10]" 33;
IO_LOC "OUT[11]" 34;
IO_LOC "RST_N" 3;
